.card-princing-container {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 70px;
	background-color: rgba(0, 0, 0, .8);
	padding: 10px;
	color: antiquewhite;
	font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.card-princing-title{
	margin-bottom: 3px;
}

.card-princing-value{
	display: flex;
	justify-content: space-between;
}

.card-princing-value-console{
	display: flex;
}

.card-princing-value-console > span{
	font-weight: bolder;
	color: aqua;
	margin-right:10px ;
}